@media screen and (min-width: 991px) {
    .hamburger-icon-holder{
        display: none;
    }
}

@media screen and (max-width: 1190px) {
    .benefits h1{
        font-size: 48px;
    }
}

@media screen and (max-width: 991px) {
    .header-nav-list{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 68px;
        height: unset;
        background-color: black;
        width: 30vw;
        overflow-y: auto;
    }
    header.nav-open{
        overflow: unset;
    }
    header.nav-open .header-nav-list{
        display: block
    }
    .header-nav-list li a{
        padding: 12px;
    }
    .hero-content h1{
        font-size: 48px;
    }
    .benefits h1{
        font-size: 45px;
    }
    .benefits-holder{
        justify-content: center;
    }
    .benefit {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
        margin: 20px
    }
}

@media screen and (max-width: 768px){
    .hero-content h1{
        font-size: 32px;
    }
    .benefits h1{
        font-size: 33px;
    }
    .benefit {
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
        margin: 20px 0
    }
}

@media screen and (max-width: 576px) {
    header{
        padding: 0;
    }
    .header-nav-list{
        width: 100vw;
    }
    .hero-content .hero-btn:nth-child(odd){
        margin-bottom: 15px;
    }

    .hero-content .hero-btn{
        max-width: 50%;
        white-space: nowrap;
    }
    .logo-text-holder{
        padding-left: 8px;
    }
    .logo-text-holder p{
        font-size: 8px;
    }
    .benefits h1{
        font-size: 23px;
    }
}

@media screen and (max-width: 420px){
    .hero-content h1{
        font-size: 23px;
    }
    .hero-content .hero-btn{
        max-width: unset;
        min-width: 200px;
    }
    .benefits h1{
        font-size: 17px;
    }
}