@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
body{
    margin: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    overflow-y: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none
}
a{
    color: unset;
    text-decoration: none;
    transition: color .5s;
}
a:hover{
    color: var(--c-primary)
}
.section{
    padding: 64px 24px;
}
p{
    line-height: 26px;
    margin: 10px 0;
}
.t-center{
    text-align: center;
}
h1{
    margin-top: 0   
}
.hamburger-icon{
    height: 40px;
}
.section:not(.hero):not(.section-contact){
    padding: 64px 96px;
}

/* Hero Section */

.section.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-between;
}
.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 64px 0;
}
.header-logo-holder{
    display: flex;
}
.logo-text-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: var(--c-text-white);
    padding-left: 15px;
}
.logo-text-holder p{
    line-height: unset;
    margin: 0
}
.header-nav-list{
    display: flex;  
    height: 64px;
    margin-left: -95px
}
.header-nav-list li{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-text-white);
    font-size: 20px;
}
.header-nav-list li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}
.language-change-holder{
    position: relative;
}
.current-language{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.languages-list{
    position: absolute;
    top: 46px;
    right: -10px;
    display: none;
    background-color: var(--c-primary);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 2px #000000;
    min-width: max-content;
}
.current-language.expanded + .languages-list{
    display: block;
}
.languages-list li{
    display: flex;
    align-items: center;
    padding: 7px;
    cursor: pointer
}
.languages-list li p{
    padding-left: 5px;
}
.languages-list li:not(:last-child){
    border-bottom: 1px solid #000000;
}
.flag{
    width: 24px;
    height: 24px;
}
.hero-content{
    color: var(--c-text-white);
    padding-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-content h1{
    flex: 1 1 100%;
    max-width: 100%;
    font-size: 64px;
    font-style: oblique;
}
.hero-title-top{
    margin-bottom: 10px;
}
.hero-btn,
.contact-form-submit{
    flex: 0 0 50%;
    max-width: 200px; 
    padding: 15px 20px;
    background-color: var(--c-primary);
    margin: 0 24px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    transition: background-color .7s;
}
.hero-btn:hover,
.contact-form-submit:hover{
    color: var(--c-text-white);
    background-color: var(--c-primary-b);
}
.current-language p{
    background-color: var(--c-primary);
    color: var(--c-text-white);
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
}

/* Benefits Sections */

.section.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title{
    font-size: 48px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
}
.section-title-top{
    margin-bottom: 0;
    color: var(--c-primary);
}
.section-title-bottom{
    color: var(--c-primary-b);
    margin-bottom: 90px;    
}
.benefits-holder{
    display: flex;
    flex-wrap: wrap;
}
.benefit{
    flex: 0 0 calc(25% - 40px);
    max-width: calc(25% - 40px);
    display: flex;
    margin: 0 20px;
    padding: 0 12px;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-primary);
}
.benefit-title{
    color: #000000;
    font-size: 24px;
    text-align: center;
}
.benefit-desc{
    color: var(--c-text-white);
    text-align: center;
}

/* Who are we Section */

.who-are-we .section-content{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 170px);
    justify-content: center;
    align-items: center;
}
.who-are-we-text{
    flex: 0 0 65%;
    max-width: 40%;
}
.who-are-we-text.left{
    margin-right: 30px;
}
.who-are-we-text.right{
    margin-left: 30px
}
.who-are-we-img-holder,
.team-photo{
    flex: 0 0 35%;
    max-width: 35%;
    display: flex;
    align-items: center;
}
.who-are-we-img{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.who-are-we p{
    font-size: 18px;
    text-align: justify;
}

/* Packages Section */

.section-packages{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.packages-section-left,
.packages-section-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 12px;
}
.packages-section-left{
    background-color: var(--c-primary);
}
.packages-section-left h1{
    color: var(--c-primary-b);
    font-weight: bold;
    font-size: 64px;
    font-style: oblique;
}
.packages-section-left span{
    color: var(--c-text-white);    
}
.packages-section-left p{
    color: var(--c-text-white);
    text-align: center;
    font-size: 24px;
    max-width: 50%;
}
.packages-section-left .hero-btn{
    flex: unset;
    background-color: var(--c-primary-b);
    color: var(--c-text-white);
    margin-top: 24px;
    padding: 20px 40px;
    font-size: 22px;
    max-width: unset;
}
.packages-section-right{
    position: relative
}
.package-section-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}   
.plans-holder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.plan{
    flex: 0 0 calc(50% - 40px);
    max-width: calc(50% - 40px);
    margin: 20px;
    border: 5px solid var(--c-primary);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 12px;
    align-items: center;
    min-height: calc(50% - 40px);
}
.plan h3{
    color: var(--c-primary-b);
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0
}
.plan p{
    text-align: center;
    font-size: 18px;
}
.plan .inquire-button,
.plan .plan-back-button{
    color: var(--c-primary);
    text-decoration: underline;
    margin: 20px 0;
    cursor: pointer;
    margin-top: auto;
}
.kickstart-opened .plan:not(.kickstart),
.basic-opened .plan:not(.basic),
.full-opened .plan:not(.full),
.executive-opened .plan:not(.executive),
.kickstart-opened .kickstart .inquire-button,
.basic-opened .basic .inquire-button,
.full-opened .full .inquire-button,
.executive-opened .executive .inquire-button,
.plan-back-button,
.expanded-content{
    display: none;
}
.kickstart-opened .kickstart .plan-back-button,
.basic-opened .basic .plan-back-button,
.full-opened .full .plan-back-button,
.executive-opened .executive .plan-back-button,
.kickstart-opened .expanded-content,
.basic-opened .expanded-content,
.full-opened .expanded-content,
.executive-opened .expanded-content{
    display: block
}
.kickstart-opened .kickstart,
.basic-opened .basic,
.full-opened .full,
.executive-opened .executive{
    flex: 1 1 100%;
    max-width: unset;
}
.plan ul{
    font-size: 26px;
    list-style-type: disclosure-closed;
    color: var(--c-primary);
    padding-left: 20px;
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 12px;
}
.plan ul::-webkit-scrollbar{
    background-color: var(--c-primary-b);
    width: 8px;
    border-radius: 8px;
}
.plan ul::-webkit-scrollbar-thumb{
    background-color: var(--c-primary);
    border-radius: 8px;
    width: 8px;
}
.plan .plan-price{
    font-size: 24px;
    margin-top: 24px;
    color: var(--c-primary-b);
    font-weight: bold;
}
.compare-btn{
    flex: 1 1 100%;
    margin: 12px auto;
    cursor: pointer;
    width: 50%;
}


/* Services Section */
.section-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 48px 24px
}
.section-services h1{
    font-size: 48px;
    color: var(--c-primary);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.section-services .hero-btn{
    margin-top: 48px;
    max-width: unset;
    padding: 20px 35px;
    font-size: 24px;
    background-color: var(--c-primary-b);
    color: var(--c-text-white);
}
.section-services .hero-btn:hover{
    background-color: var(--c-primary);
}
.services-holder{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.services{
    flex: 1 1 calc(33.33333% - 60px);
    max-width: calc(33.33333% - 60px);
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}
.service-content{
    background-color: var(--c-primary);
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.service-content *{
    text-align: center;
}
.service-content h3{
    font-size: 32px;
    color: var(--c-primary-b);
    font-weight: bold;
    margin: 15px 0
}
.service-content p{
    color: var(--c-text-white);
    font-size: 18px;
    margin-top: auto;
}

/* Contact Section */
.section-contact{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 48px 0 0;
}
.contact-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.contact-form-holder{
    max-width: 40%;
    margin: 0 auto 24px;
}
.contact-form-holder h1{
    font-size: 64px;
    font-style: oblique;
    color: var(--c-text-white);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.contact-form{
    display: flex;
    flex-wrap: wrap;
}
.contact-form .half-input{
    flex: 0 0 calc(50% - 24px);
    max-width: calc(50% - 24px);
}
.contact-form .full-input{
    flex: 1 1 100%;
    max-width: 100%;
}
.contact-form input,
.contact-form textarea{
    height: 48px;
    border-radius: 8px;
    border: none;
    margin: 12px;
    text-indent: 7px;
}
.contact-form textarea{
    padding: 10px 0;
    min-width: calc(100% - 24px);
    flex: 1 1 calc(100% - 24px);
    height: unset;
}
.contact-form .contact-form-submit{
    margin: 15px auto;
    color:var(--c-text-white);
    cursor: pointer;
}
.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 24px 128px;
    background-color: var(--c-primary);
    margin-top: auto;
    color: var(--c-text-white);
    flex-wrap: wrap;
}
.footer *{
    text-align: center;
}
.footer-part{
    flex: 0 0 25%;
    max-width: 25%;
}
.footer-part-title{
    font-size: 16px;
}
.footer-part-text{
    font-size: 22px;
    font-weight: bold;
}
.footer-part-text:hover{
    color: var(--c-primary-b);
}


/* Compare Modal */

.compare-modal-layer{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .9;
    z-index: 1;
}
.compare-modal-opened{
    overflow: hidden;
}
.compare-modal-opened .compare-modal-layer{
    display: block;
}

.compare-modal{
    display: none;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #333333;
    z-index: 2;
}
.compare-modal::-webkit-scrollbar{
    background-color: var(--c-primary);
    width: 8px;
}
.compare-modal::-webkit-scrollbar-thumb{
    background-color: var(--c-primary-b);
    width: 8px;
    border-radius: 4px;
}
.compare-modal.opened{
    display: flex;
}
.compare-modal-header{
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-primary);
    padding: 12px 24px;
    position: sticky;
    top: 0;
    z-index: 3;
    height: 72px;
}
.compare-modal-header h1{
    color: var(--c-primary-b);
    margin: 0
}
.compare-close{
    cursor: pointer;
}
.compare-modal .plans-holder{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 24px 0;
    height: calc(100% - 72px);
}
.compare-modal .plan{
    display: none;
    height: calc(100% - 98px);
}
.plan-selector-left,
.plan-selector-right{
    position: relative;
}
.plan-selector-left ul,
.plan-selector-right ul{
    position: absolute;
    top: 47px;
    left: 12px;
    width: calc(100% - 12px);
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: none;
}
.plan-selector-left ul li,
.plan-selector-right ul li{
    padding: 12px;
    cursor: pointer;
    text-transform: capitalize;
}
.plan-selector-left ul li:not(:last-child),
.plan-selector-right ul li:not(:last-child){
    border-bottom: 1px solid #cccccc;
}
.current-plan-left,
.current-plan-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
    border: 1px solid #333333;
    padding: 5px;
    min-width: 100px;
    text-transform: capitalize;
    cursor: pointer;
}
.current-plan-left:after,
.current-plan-right:after{
    content: "";
    background-image: url(../../images/icons/arrow-up.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    margin-left: 7px;
    transform: rotate(180deg);
    transition: transform .5s;
    filter: invert(1);
}
.current-plan-left.expanded + ul,
.current-plan-right.expanded + ul{
    display: block;
}
.kickstart-selected .plan.kickstart,
.basic-selected .plan.basic,
.full-selected .plan.full,
.executive-selected .plan.executive{
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
}



/* Email messages */
.email-handler{
    min-height: 100vh;
    height: 100vh;  
}
  
.email-message-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 40px;
}
.success .email-message{
    font-size: 26px;
    color: greenyellow;
}
.fail .email-message{
    font-size: 26px;
    color: #ea4655;
}
.email-message-link{
    padding: 10px;
    border: 1px solid #ffffff;
    font-size: 18px;
}
.email-alert{
    font-size: 16px;
    margin-top: 10px;
    font-style: italic;
    color: #cccccc;
}
.email-handler-holder nav{
    justify-content: center;
}
.email-alert a{
    color:#ea4655;
    text-decoration: underline;
}




/* Scroll to top button*/

.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    /* border-radius: 50%; */
    width: 40px;
    height: 40px;
    border: 3px solid var(--c-primary);
    background-color: #ffffff;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .7s;
  }
  .scroll-to-top:hover{
    border-color: var(--c-primary-b)
  }
  .scroll-to-top.visible{
    display: flex!important;
    display: -webkit-flex!important;
  }
  .scroll-to-top i{
    color: var(--c-primary);
    
    transition: all .7s;
  }
  .scroll-to-top:hover i{
    color: var(--c-primary-b);
  }
  
